body {
    background-color: #FFFFFF;
    text-align:center;
}

header {
    color: black;
    background-color: #009999;
    padding:5px;
}
nav {
	background-color: #D0D0D0; 
	line-height:30px;
	height:30px;
    float:top;
    padding:5px;
}
foto{
	height:400px;
	float: left;
}	
article{
	height:400px;
}
footer {
	background-color: #009999;
	float: bottom;
    padding:5px;
}    
